* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header,nav,article,div,footer {
    padding: 10px;
    background-color: yellow;
    border: 1px solid gray;
    text-align: center;
}

nav,div {
    width: 20%;
    height: 200px;
    float: left;
}

article {
    width: 60%;
    height: 200px;
    float: left;
}
